<nav class="navbar navbar-expand-lg navbar-default shadow" style="background-color: #e3f2fd;overflow: hidden;">
    <a class="navbar-brand" style="color: #24a0ed;cursor: pointer;" (click)="goToHome()">
        <fa-icon [icon]="faMeetup"></fa-icon> Meeting planner
    </a>
    <button class="navbar-toggler btn btn-outline-info" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <fa-icon [icon]="faBars"></fa-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> </ul>
        <button class="btn btn-outline-info my-2 my-sm-0 rounded-pill" style="margin-right: 20px; border: none;"
            (click)="goToHome()">
            <fa-icon [icon]="faCalendarAlt"></fa-icon> Dashboard <span class="sr-only">(current)</span>
        </button>
        <button class="btn btn-outline-info my-2 my-sm-0 rounded-pill" style="margin-right: 20px; border: none;">
            About <fa-icon [icon]="faPaperPlane"></fa-icon>
        </button>

        <button class="btn btn-outline-info my-2 my-sm-0 rounded-pill" style="margin-right: 20px; border: none;">
            Contact <fa-icon [icon]="faEnvelope"></fa-icon>
        </button>

        <button class="btn btn-outline-info my-2 my-sm-0 rounded-pill" style="margin-right: 20px; border: none;">
            <fa-icon [icon]="faUser"></fa-icon> Profile
        </button>

        <button class="btn btn-outline-info my-2 my-sm-0 rounded-pill" style="border: none;" (click)="LogOut()">Logout
            <fa-icon [icon]="faPowerOff">
            </fa-icon></button>


    </div>
</nav>

<div class="container-fluid " style="background: url('../../../assets/brickwall.png')">
    <br>

    <div class="container" style="text-align: center;">
        <div class="row">

            <div class="col-md-4">
                <div class="btn-group shadow-lg" style="margin: 10px;">
                    <div class="btn btn-info animate" (click)="setView(CalendarView.Month)"
                        [class.active]="view === CalendarView.Month">
                        Month
                    </div>
                    <div class="btn btn-info animate" (click)="setView(CalendarView.Week)"
                        [class.active]="view === CalendarView.Week">
                        Week
                    </div>
                    <div class="btn btn-info animate" (click)="setView(CalendarView.Day)"
                        [class.active]="view === CalendarView.Day">
                        Day
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>

            <div class="col-md-4">
                <div class="btn-group" style="margin: 10px;">

                    <button class="btn btn-info animate" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Previous
                    </button>

                    <button class="btn btn-outline-secondary animate" mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </button>

                    <button class="btn btn-info animate" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Next
                    </button>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" [ngSwitch]="view"
                style="margin-top: 5px;margin-bottom: 20px;">
                <!-- month view starts here -->
                <mwl-calendar-month-view [viewDate]="viewDate" [events]='events' [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)" *ngSwitchCase="CalendarView.Month">
                </mwl-calendar-month-view>
                <!-- month view ends here -->
                <!-- week view starts here -->
                <mwl-calendar-week-view [viewDate]="viewDate" [events]='events' [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)" *ngSwitchCase="CalendarView.Week">
                </mwl-calendar-week-view>
                <!-- week view ends here -->
                <!-- day view starts here -->
                <mwl-calendar-day-view [viewDate]="viewDate" [events]='events' [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)" *ngSwitchCase="CalendarView.Day">
                </mwl-calendar-day-view>
                <!-- day view ends here -->
            </div>


            <!-- <ng-template #modalContent let-close="close">
                <div class="modal-header">
                    <h5 class="modal-title ">Meeting Schedule</h5>
                    <button type="button" class="close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>Meeting Name :</b>
                    <p>{{ modalData?.event.title }}</p>
                    <b>Description :</b>
                    <p>{{modalData?.event.description}}</p>
                    <b>Starts At :</b>
                    <p>{{ modalData?.event.start| date:'medium'}}</p>
                    <b>Ends At :</b>
                    <p>{{modalData?.event.end| date:'medium'}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
                </div>
            </ng-template> -->

        </div>
    </div>


    <ng-template #modalContent let-close="close">
        <div class="modal-header">
            <h5 class="modal-title">Meeting Details</h5>
            <button type="button" class="close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <img class="card-img-top" src="../../../assets/meeting.jpg" alt="Meeting" style="height:50vh;">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-4">
                                    <h5> Topic </h5>
                                </div>
                                <div class="col-8">
                                    <h6 class="card-title">{{modalData?.event.meetingTopic}} by
                                        {{modalData?.event.hostName}}</h6>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <h5> Agenda </h5>
                                </div>
                                <div class="col-8">
                                    <h6 class="card-title">{{modalData?.event.meetingDescription}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5> Participant </h5>
                                </div>
                                <div class="col-8">
                                    <h6 class="card-title">{{modalData?.event.participantName}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5>Date and Time</h5>
                                </div>
                                <div class="col-8">
                                    <h6 class="card-title">{{modalData?.event.meetingStartDate | date: 'medium'}} - {{modalData?.event.meetingEndDate
                    | date: 'medium'}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h5>Location </h5>
                                </div>
                                <div class="col-8">
                                    <h6 class="card-title">{{modalData?.event.meetingPlace}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>
<br>

<div class="container-fluid my-style" style="background: url('../../../assets/brickwall.png')">
    <div class="row">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-info animate rounded-pill" (click)="addEvent()" data-toggle="modal"
                data-target="#exampleModal">
                create new event
            </button>
        </div>
    </div>
    <br>
    <div class="row" *ngIf='events.length>0'>
        <div class="col-0 col-sm-0 col-xl-1"></div>
        <div class=" col-3 col-sm-4 col-xl-4 text-center extra border border-success rounded">
            <b>Title</b>
        </div>
        <div class="col-7 col-sm-6 col-xl-4 extra text-center border border-success rounded">
            <b>Meeting Schedule</b>
        </div>
        <div class="col-2 col-xl-2 extra text-center border border-success rounded">
            <b>View Detail</b>
        </div>
        <div class="col-0 col-sm-0 col-xl-1"></div>
    </div>

    <div class="row" *ngFor='let event of events; let index = index'>
        <div class="col-0 col-sm-0 col-xl-1"></div>
        <div class="col-3 col-sm-4 col-xl-4 border border-success rounded text-center">
            <br>
            <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" disabled>
        </div>
        <div class="col-7 col-sm-6 col-xl-4 border pad border-success rounded text-center">
            <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
                (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" disabled>
            <b>To</b>
            <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end"
                (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" disabled>
        </div>
        <div class="col-2 col-sm-2 col-xl-2 border border-success rounded text-center">
            <br>
            <button type="button" class="btn-sm btn-primary" (click)='dynamic(event)' data-toggle="modal"
                data-target="#example">
                view
            </button>
        </div>
        <div class="col-0 col-sm-0 col-xl-1"> </div>

    </div>

</div>
<br><br>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Create new Meeting</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body " *ngIf='event'>
                <label for="name"><b>Meeting Name :</b></label>
                <input id="name" type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()">
                <br>
                <label for="description"><b>Description :</b></label>
                <textarea id='description' [(ngModel)]="event.description" class="form-control" rows="1"
                    (keyup)="refresh.next()" required></textarea>
                <br>
                <label for="primary"><b>Primary Color :</b>&nbsp;&nbsp;</label>
                <input id="primary" type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()">
                <br>
                <label for="secondary"><b>Secondary Color :</b>&nbsp;&nbsp;</label>
                <input id="secondary" type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()">
                <br>
                <label for="start"><b>Starts At :</b>&nbsp;&nbsp;</label>
                <input id="start" class="form-control" type="text" static="true" mwlFlatpickr [(ngModel)]="event.start"
                    [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i" placeholder="Not set">
                <br>
                <br>
                <label for="end"><b>Ends At :</b> &nbsp;&nbsp;</label>
                <input id="end" class="form-control" type="text" static="true" mwlFlatpickr [(ngModel)]="event.end"
                    [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i" placeholder="Not set">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-danger" data-dismiss="modal" (click)="sendToUSer(event); refresh.next()">Send
                </button>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>View Meeting Schedule</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body " *ngIf='currentEvent'>
                <label for="name"><b>Meeting Name :</b></label>
                <input id="name" type="text" class="form-control" [(ngModel)]="currentEvent.title"
                    (keyup)="refresh.next()">
                <br>
                <label for="description"><b>Description :</b></label>
                <textarea id='description' [(ngModel)]="currentEvent.description" class="form-control" rows="1"
                    (keyup)="refresh.next()" required></textarea>
                <br>
                <label for="primary"><b>primary color :</b>&nbsp;&nbsp;</label>
                <input id="primary" type="color" [(ngModel)]="currentEvent.color.primary" (change)="refresh.next()">
                <br>
                <label for="secondary"><b>secondary color :</b>&nbsp;&nbsp;</label>
                <input id="secondary" type="color" [(ngModel)]="currentEvent.color.secondary" (change)="refresh.next()">
                <br>
                <label for="start"><b>Starts At :</b>&nbsp;&nbsp;</label>
                <input id="start" class="form-control" type="text" static="true" mwlFlatpickr
                    [(ngModel)]="currentEvent.start" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set">
                <br>
                <br>
                <label for="end"><b>Ends At :</b>&nbsp;&nbsp;</label>
                <input id="end" class="form-control" type="text" static="true" mwlFlatpickr
                    [(ngModel)]="currentEvent.end" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-danger " data-dismiss="modal"
                    (click)="sendToUSer(currentEvent); refresh.next()">update </button>
                <button class="btn btn-danger" data-dismiss="modal"
                    (click)="deleteEvent(currentEvent); refresh.next()">Delete</button>
            </div>
            <br>
        </div>
    </div>
</div>