<nav class="navbar navbar-expand-lg navbar-default" style="background-color: #e3f2fd;">
    <a class="navbar-brand" style="color: #24a0ed;cursor: pointer;">
        <fa-icon [icon]="faMeetup"></fa-icon> Meeting planner
    </a>
    <button class="navbar-toggler btn btn-outline-info" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <fa-icon [icon]="faBars"></fa-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="hemanthDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="hemanthDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
        </ul>
        <button class="btn btn-outline-info my-2 my-sm-0" style="margin-right: 20px; border: none;">
            <fa-icon [icon]="faCalendarAlt"></fa-icon> Dashboard <span class="sr-only">(current)</span>
        </button>
        <button class="btn btn-outline-info my-2 my-sm-0" style="margin-right: 20px; border: none;">
            About <fa-icon [icon]="faPaperPlane"></fa-icon>
        </button>

        <button class="btn btn-outline-info my-2 my-sm-0" style="margin-right: 20px; border: none;">
            Contact <fa-icon [icon]="faEnvelope"></fa-icon>
        </button>

        <button class="btn btn-outline-info my-2 my-sm-0" style="margin-right: 20px; border: none;">
            <fa-icon [icon]="faUser"></fa-icon> Profile
        </button>

        <!-- <button class="btn btn-outline-dark my-2 my-sm-0" style="margin-right: 20px; border: none;">Github <fa-icon
                [icon]="faGithub">
            </fa-icon>
        </button> -->

        <button class="btn btn-outline-info my-2 my-sm-0" style="border: none;">Logout <fa-icon [icon]="faPowerOff">
            </fa-icon></button>


    </div>
</nav>

<div class="container-fluid" style="background: url('../../../assets/brickwall_@2X.png')">
    <br>

    <div class="container" style="text-align: center;">
        <div class="row">

            <div class="col-md-4">
                <div class="btn-group" style="margin: 10px;">
                    <div class="btn btn-info animate" (click)="setView(CalendarView.Month)"
                        [class.active]="view === CalendarView.Month">
                        Month
                    </div>
                    <div class="btn btn-info animate" (click)="setView(CalendarView.Week)"
                        [class.active]="view === CalendarView.Week">
                        Week
                    </div>
                    <div class="btn btn-info animate" (click)="setView(CalendarView.Day)"
                        [class.active]="view === CalendarView.Day">
                        Day
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>

            <div class="col-md-4">
                <div class="btn-group" style="margin: 10px;">
                    <button class="btn btn-info animate" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Previous
                    </button>

                    <button class="btn btn-outline-secondary animate" mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </button>

                    <button class="btn btn-info animate" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Next
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" [ngSwitch]="view"
                style="margin-top: 5px;margin-bottom: 20px;">

                <!-- month view starts here -->
                <mwl-calendar-month-view [viewDate]="viewDate" [events]='events' [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)" *ngSwitchCase="CalendarView.Month">
                </mwl-calendar-month-view>
                <!-- month view ends here -->

                <!-- week view starts here -->
                <mwl-calendar-week-view [viewDate]="viewDate" [events]='events' [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)" *ngSwitchCase="CalendarView.Week">
                </mwl-calendar-week-view>
                <!-- week view ends here -->

                <!-- day view starts here -->
                <mwl-calendar-day-view [viewDate]="viewDate" [events]='events' [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)" *ngSwitchCase="CalendarView.Day">
                </mwl-calendar-day-view>
                <!-- day view ends here -->

            </div>
        </div>
    </div>

</div>